*{
    padding: none;
    margin: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


nav{
    position: absolute;
    display: flex;
    margin: 0 auto;
    width: 98%;
    align-items: center;
    justify-content: space-around;
}

.logo{
    /* align-self: flex-start; */

}
.links ul{
    /* align-self: flex-end;
    justify-self: end; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* margin-right: 10px; */
}
#numBtn{
    background: transparent;
    padding: 10px 30px;
    border: 2px solid aliceblue;
    border-radius: 10px;
}
#numBtn a{
    color: aliceblue;
}
.links ul li{
    padding: 0 30px;
}

.links ul li a{
    color: aliceblue;
    text-decoration: none;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-size: larger;
}
h3{
    color: aliceblue;
    font-size: large;
}
#top h1{
    color: aliceblue;
    font-size: 50px;
    margin: -10px 0;
}

#top{
    background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
    background-size: cover ;
    background-repeat: no-repeat ;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#getBtn{
    padding: 20px 40px;
    border: 2px solid #0274be;
    background: transparent ;
    background-color:#0274be;
    color: black;
    border-radius: 20px;
}

#blogContainer{
    display: flex;
    width: 80%;
    margin: 0 auto; 
    height: 100vh;
    margin-top: 30px; 
    justify-content: space-between;  
}
#Blogs{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Blogs h2{
    color: black;
    font-size: 50px;
}
#Blogs h2::after{
    content: '';
    background-color: #0274be;
    display: block;
    width: 100%;
    height: 5px;
}
.blogContainer{
    padding: 0 30px;
}

.imgContainer{
    height: 300px;
    width: 300px;
}

.imgContainer img{

    object-fit: cover;
    height: 300px;
    width: 300px;
}
.content{
    text-align: center;
}
